<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffcs.mp.dao.CommSeverIdxItemMapper" >
  <resultMap id="BaseResultMap" type="com.ffcs.mp.entity.CommSeverIdxItem" >
    <id column="IDX_ITEM_ID" property="idxItemId" jdbcType="DECIMAL" />
    <result column="IDX_ITEM_NAME" property="idxItemName" jdbcType="VARCHAR" />
    <result column="IDX_ITME_UNIT" property="idxItmeUnit" jdbcType="VARCHAR" />
    <result column="IDX_DEFAULT_VALUE" property="idxDefaultValue" jdbcType="DECIMAL" />
    <result column="IDX_ITEM_TYPE" property="idxItemType" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDX_ITEM_ID, IDX_ITEM_NAME, IDX_ITME_UNIT, IDX_DEFAULT_VALUE, IDX_ITEM_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from COMM_SEVER_IDX_ITEM
    where IDX_ITEM_ID = #{idxItemId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from COMM_SEVER_IDX_ITEM
    where IDX_ITEM_ID = #{idxItemId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ffcs.mp.entity.CommSeverIdxItem" >
    insert into COMM_SEVER_IDX_ITEM (IDX_ITEM_ID, IDX_ITEM_NAME, IDX_ITME_UNIT, 
      IDX_DEFAULT_VALUE, IDX_ITEM_TYPE)
    values (#{idxItemId,jdbcType=DECIMAL}, #{idxItemName,jdbcType=VARCHAR}, #{idxItmeUnit,jdbcType=VARCHAR}, 
      #{idxDefaultValue,jdbcType=DECIMAL}, #{idxItemType,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ffcs.mp.entity.CommSeverIdxItem" >
    insert into COMM_SEVER_IDX_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idxItemId != null" >
        IDX_ITEM_ID,
      </if>
      <if test="idxItemName != null" >
        IDX_ITEM_NAME,
      </if>
      <if test="idxItmeUnit != null" >
        IDX_ITME_UNIT,
      </if>
      <if test="idxDefaultValue != null" >
        IDX_DEFAULT_VALUE,
      </if>
      <if test="idxItemType != null" >
        IDX_ITEM_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idxItemId != null" >
        #{idxItemId,jdbcType=DECIMAL},
      </if>
      <if test="idxItemName != null" >
        #{idxItemName,jdbcType=VARCHAR},
      </if>
      <if test="idxItmeUnit != null" >
        #{idxItmeUnit,jdbcType=VARCHAR},
      </if>
      <if test="idxDefaultValue != null" >
        #{idxDefaultValue,jdbcType=DECIMAL},
      </if>
      <if test="idxItemType != null" >
        #{idxItemType,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffcs.mp.entity.CommSeverIdxItem" >
    update COMM_SEVER_IDX_ITEM
    <set >
      <if test="idxItemName != null" >
        IDX_ITEM_NAME = #{idxItemName,jdbcType=VARCHAR},
      </if>
      <if test="idxItmeUnit != null" >
        IDX_ITME_UNIT = #{idxItmeUnit,jdbcType=VARCHAR},
      </if>
      <if test="idxDefaultValue != null" >
        IDX_DEFAULT_VALUE = #{idxDefaultValue,jdbcType=DECIMAL},
      </if>
      <if test="idxItemType != null" >
        IDX_ITEM_TYPE = #{idxItemType,jdbcType=DECIMAL},
      </if>
    </set>
    where IDX_ITEM_ID = #{idxItemId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffcs.mp.entity.CommSeverIdxItem" >
    update COMM_SEVER_IDX_ITEM
    set IDX_ITEM_NAME = #{idxItemName,jdbcType=VARCHAR},
      IDX_ITME_UNIT = #{idxItmeUnit,jdbcType=VARCHAR},
      IDX_DEFAULT_VALUE = #{idxDefaultValue,jdbcType=DECIMAL},
      IDX_ITEM_TYPE = #{idxItemType,jdbcType=DECIMAL}
    where IDX_ITEM_ID = #{idxItemId,jdbcType=DECIMAL}
  </update>
</mapper>