<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffcs.mp.dao.CommSeverInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ffcs.mp.entity.CommSeverInfo" >
    <id column="SERV_ID" property="servId" jdbcType="DECIMAL" />
    <result column="ORG_ID" property="orgId" jdbcType="DECIMAL" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="DECIMAL" />
    <result column="SERV_TITLE" property="servTitle" jdbcType="VARCHAR" />
    <result column="OUTER_IP" property="outerIp" jdbcType="VARCHAR" />
    <result column="INNER_IP" property="innerIp" jdbcType="VARCHAR" />
    <result column="MONIT_DELAY" property="monitDelay" jdbcType="DECIMAL" />
    <result column="POV_CODE" property="povCode" jdbcType="DECIMAL" />
    <result column="CITY_CODE" property="cityCode" jdbcType="DECIMAL" />
    <result column="CTIME" property="ctime" jdbcType="TIMESTAMP" />
    <result column="UTIME" property="utime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_AUTOR" property="updateAutor" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERV_ID, ORG_ID, IS_ENABLE, SERV_TITLE, OUTER_IP, INNER_IP, MONIT_DELAY, POV_CODE, 
    CITY_CODE, CTIME, UTIME, UPDATE_AUTOR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from COMM_SEVER_INFO
    where SERV_ID = #{servId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from COMM_SEVER_INFO
    where SERV_ID = #{servId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ffcs.mp.entity.CommSeverInfo" >
    insert into COMM_SEVER_INFO (SERV_ID, ORG_ID, IS_ENABLE, 
      SERV_TITLE, OUTER_IP, INNER_IP, 
      MONIT_DELAY, POV_CODE, CITY_CODE, 
      CTIME, UTIME, UPDATE_AUTOR
      )
    values (#{servId,jdbcType=DECIMAL}, #{orgId,jdbcType=DECIMAL}, #{isEnable,jdbcType=DECIMAL}, 
      #{servTitle,jdbcType=VARCHAR}, #{outerIp,jdbcType=VARCHAR}, #{innerIp,jdbcType=VARCHAR}, 
      #{monitDelay,jdbcType=DECIMAL}, #{povCode,jdbcType=DECIMAL}, #{cityCode,jdbcType=DECIMAL}, 
      #{ctime,jdbcType=TIMESTAMP}, #{utime,jdbcType=TIMESTAMP}, #{updateAutor,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ffcs.mp.entity.CommSeverInfo" >
    insert into COMM_SEVER_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="servId != null" >
        SERV_ID,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="isEnable != null" >
        IS_ENABLE,
      </if>
      <if test="servTitle != null" >
        SERV_TITLE,
      </if>
      <if test="outerIp != null" >
        OUTER_IP,
      </if>
      <if test="innerIp != null" >
        INNER_IP,
      </if>
      <if test="monitDelay != null" >
        MONIT_DELAY,
      </if>
      <if test="povCode != null" >
        POV_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="ctime != null" >
        CTIME,
      </if>
      <if test="utime != null" >
        UTIME,
      </if>
      <if test="updateAutor != null" >
        UPDATE_AUTOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="servId != null" >
        #{servId,jdbcType=DECIMAL},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=DECIMAL},
      </if>
      <if test="servTitle != null" >
        #{servTitle,jdbcType=VARCHAR},
      </if>
      <if test="outerIp != null" >
        #{outerIp,jdbcType=VARCHAR},
      </if>
      <if test="innerIp != null" >
        #{innerIp,jdbcType=VARCHAR},
      </if>
      <if test="monitDelay != null" >
        #{monitDelay,jdbcType=DECIMAL},
      </if>
      <if test="povCode != null" >
        #{povCode,jdbcType=DECIMAL},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=DECIMAL},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAutor != null" >
        #{updateAutor,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffcs.mp.entity.CommSeverInfo" >
    update COMM_SEVER_INFO
    <set >
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="isEnable != null" >
        IS_ENABLE = #{isEnable,jdbcType=DECIMAL},
      </if>
      <if test="servTitle != null" >
        SERV_TITLE = #{servTitle,jdbcType=VARCHAR},
      </if>
      <if test="outerIp != null" >
        OUTER_IP = #{outerIp,jdbcType=VARCHAR},
      </if>
      <if test="innerIp != null" >
        INNER_IP = #{innerIp,jdbcType=VARCHAR},
      </if>
      <if test="monitDelay != null" >
        MONIT_DELAY = #{monitDelay,jdbcType=DECIMAL},
      </if>
      <if test="povCode != null" >
        POV_CODE = #{povCode,jdbcType=DECIMAL},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=DECIMAL},
      </if>
      <if test="ctime != null" >
        CTIME = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        UTIME = #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAutor != null" >
        UPDATE_AUTOR = #{updateAutor,jdbcType=DECIMAL},
      </if>
    </set>
    where SERV_ID = #{servId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffcs.mp.entity.CommSeverInfo" >
    update COMM_SEVER_INFO
    set ORG_ID = #{orgId,jdbcType=DECIMAL},
      IS_ENABLE = #{isEnable,jdbcType=DECIMAL},
      SERV_TITLE = #{servTitle,jdbcType=VARCHAR},
      OUTER_IP = #{outerIp,jdbcType=VARCHAR},
      INNER_IP = #{innerIp,jdbcType=VARCHAR},
      MONIT_DELAY = #{monitDelay,jdbcType=DECIMAL},
      POV_CODE = #{povCode,jdbcType=DECIMAL},
      CITY_CODE = #{cityCode,jdbcType=DECIMAL},
      CTIME = #{ctime,jdbcType=TIMESTAMP},
      UTIME = #{utime,jdbcType=TIMESTAMP},
      UPDATE_AUTOR = #{updateAutor,jdbcType=DECIMAL}
    where SERV_ID = #{servId,jdbcType=DECIMAL}
  </update>
</mapper>