<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffcs.mp.dao.CommServInterfaceInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ffcs.mp.entity.CommServInterfaceInfo" >
    <id column="INTERFACE_ID" property="interfaceId" jdbcType="DECIMAL" />
    <result column="SERV_ID" property="servId" jdbcType="DECIMAL" />
    <result column="INTERFACE_TITLE" property="interfaceTitle" jdbcType="VARCHAR" />
    <result column="INTERFACE_NAME" property="interfaceName" jdbcType="VARCHAR" />
    <result column="IS_MONITOR" property="isMonitor" jdbcType="DECIMAL" />
    <result column="IS_ENCRY" property="isEncry" jdbcType="DECIMAL" />
    <result column="IS_TEST" property="isTest" jdbcType="DECIMAL" />
    <result column="INTERVAL_DELAY" property="intervalDelay" jdbcType="DECIMAL" />
    <result column="TIMEOUT_VALUE" property="timeoutValue" jdbcType="DECIMAL" />
    <result column="TIMEOUT_RETRY_NUM" property="timeoutRetryNum" jdbcType="DECIMAL" />
    <result column="TEST_INPUT_DATA" property="testInputData" jdbcType="VARCHAR" />
    <result column="CHECK_DATA" property="checkData" jdbcType="VARCHAR" />
    <result column="PRECISE_CHECK" property="preciseCheck" jdbcType="DECIMAL" />
    <result column="TEST_OUTPUT_DATA" property="testOutputData" jdbcType="VARCHAR" />
    <result column="CTIME" property="ctime" jdbcType="TIMESTAMP" />
    <result column="UTIME" property="utime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_AUTOR" property="updateAutor" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    INTERFACE_ID, SERV_ID, INTERFACE_TITLE, INTERFACE_NAME, IS_MONITOR, IS_ENCRY, IS_TEST, 
    INTERVAL_DELAY, TIMEOUT_VALUE, TIMEOUT_RETRY_NUM, TEST_INPUT_DATA, CHECK_DATA, PRECISE_CHECK, 
    TEST_OUTPUT_DATA, CTIME, UTIME, UPDATE_AUTOR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from COMM_SERV_INTERFACE_INFO
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from COMM_SERV_INTERFACE_INFO
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ffcs.mp.entity.CommServInterfaceInfo" >
    insert into COMM_SERV_INTERFACE_INFO (INTERFACE_ID, SERV_ID, INTERFACE_TITLE, 
      INTERFACE_NAME, IS_MONITOR, IS_ENCRY, 
      IS_TEST, INTERVAL_DELAY, TIMEOUT_VALUE, 
      TIMEOUT_RETRY_NUM, TEST_INPUT_DATA, CHECK_DATA, 
      PRECISE_CHECK, TEST_OUTPUT_DATA, CTIME, 
      UTIME, UPDATE_AUTOR)
    values (#{interfaceId,jdbcType=DECIMAL}, #{servId,jdbcType=DECIMAL}, #{interfaceTitle,jdbcType=VARCHAR}, 
      #{interfaceName,jdbcType=VARCHAR}, #{isMonitor,jdbcType=DECIMAL}, #{isEncry,jdbcType=DECIMAL}, 
      #{isTest,jdbcType=DECIMAL}, #{intervalDelay,jdbcType=DECIMAL}, #{timeoutValue,jdbcType=DECIMAL}, 
      #{timeoutRetryNum,jdbcType=DECIMAL}, #{testInputData,jdbcType=VARCHAR}, #{checkData,jdbcType=VARCHAR}, 
      #{preciseCheck,jdbcType=DECIMAL}, #{testOutputData,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, 
      #{utime,jdbcType=TIMESTAMP}, #{updateAutor,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ffcs.mp.entity.CommServInterfaceInfo" >
    insert into COMM_SERV_INTERFACE_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="interfaceId != null" >
        INTERFACE_ID,
      </if>
      <if test="servId != null" >
        SERV_ID,
      </if>
      <if test="interfaceTitle != null" >
        INTERFACE_TITLE,
      </if>
      <if test="interfaceName != null" >
        INTERFACE_NAME,
      </if>
      <if test="isMonitor != null" >
        IS_MONITOR,
      </if>
      <if test="isEncry != null" >
        IS_ENCRY,
      </if>
      <if test="isTest != null" >
        IS_TEST,
      </if>
      <if test="intervalDelay != null" >
        INTERVAL_DELAY,
      </if>
      <if test="timeoutValue != null" >
        TIMEOUT_VALUE,
      </if>
      <if test="timeoutRetryNum != null" >
        TIMEOUT_RETRY_NUM,
      </if>
      <if test="testInputData != null" >
        TEST_INPUT_DATA,
      </if>
      <if test="checkData != null" >
        CHECK_DATA,
      </if>
      <if test="preciseCheck != null" >
        PRECISE_CHECK,
      </if>
      <if test="testOutputData != null" >
        TEST_OUTPUT_DATA,
      </if>
      <if test="ctime != null" >
        CTIME,
      </if>
      <if test="utime != null" >
        UTIME,
      </if>
      <if test="updateAutor != null" >
        UPDATE_AUTOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="interfaceId != null" >
        #{interfaceId,jdbcType=DECIMAL},
      </if>
      <if test="servId != null" >
        #{servId,jdbcType=DECIMAL},
      </if>
      <if test="interfaceTitle != null" >
        #{interfaceTitle,jdbcType=VARCHAR},
      </if>
      <if test="interfaceName != null" >
        #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="isMonitor != null" >
        #{isMonitor,jdbcType=DECIMAL},
      </if>
      <if test="isEncry != null" >
        #{isEncry,jdbcType=DECIMAL},
      </if>
      <if test="isTest != null" >
        #{isTest,jdbcType=DECIMAL},
      </if>
      <if test="intervalDelay != null" >
        #{intervalDelay,jdbcType=DECIMAL},
      </if>
      <if test="timeoutValue != null" >
        #{timeoutValue,jdbcType=DECIMAL},
      </if>
      <if test="timeoutRetryNum != null" >
        #{timeoutRetryNum,jdbcType=DECIMAL},
      </if>
      <if test="testInputData != null" >
        #{testInputData,jdbcType=VARCHAR},
      </if>
      <if test="checkData != null" >
        #{checkData,jdbcType=VARCHAR},
      </if>
      <if test="preciseCheck != null" >
        #{preciseCheck,jdbcType=DECIMAL},
      </if>
      <if test="testOutputData != null" >
        #{testOutputData,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAutor != null" >
        #{updateAutor,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffcs.mp.entity.CommServInterfaceInfo" >
    update COMM_SERV_INTERFACE_INFO
    <set >
      <if test="servId != null" >
        SERV_ID = #{servId,jdbcType=DECIMAL},
      </if>
      <if test="interfaceTitle != null" >
        INTERFACE_TITLE = #{interfaceTitle,jdbcType=VARCHAR},
      </if>
      <if test="interfaceName != null" >
        INTERFACE_NAME = #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="isMonitor != null" >
        IS_MONITOR = #{isMonitor,jdbcType=DECIMAL},
      </if>
      <if test="isEncry != null" >
        IS_ENCRY = #{isEncry,jdbcType=DECIMAL},
      </if>
      <if test="isTest != null" >
        IS_TEST = #{isTest,jdbcType=DECIMAL},
      </if>
      <if test="intervalDelay != null" >
        INTERVAL_DELAY = #{intervalDelay,jdbcType=DECIMAL},
      </if>
      <if test="timeoutValue != null" >
        TIMEOUT_VALUE = #{timeoutValue,jdbcType=DECIMAL},
      </if>
      <if test="timeoutRetryNum != null" >
        TIMEOUT_RETRY_NUM = #{timeoutRetryNum,jdbcType=DECIMAL},
      </if>
      <if test="testInputData != null" >
        TEST_INPUT_DATA = #{testInputData,jdbcType=VARCHAR},
      </if>
      <if test="checkData != null" >
        CHECK_DATA = #{checkData,jdbcType=VARCHAR},
      </if>
      <if test="preciseCheck != null" >
        PRECISE_CHECK = #{preciseCheck,jdbcType=DECIMAL},
      </if>
      <if test="testOutputData != null" >
        TEST_OUTPUT_DATA = #{testOutputData,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        CTIME = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        UTIME = #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAutor != null" >
        UPDATE_AUTOR = #{updateAutor,jdbcType=DECIMAL},
      </if>
    </set>
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffcs.mp.entity.CommServInterfaceInfo" >
    update COMM_SERV_INTERFACE_INFO
    set SERV_ID = #{servId,jdbcType=DECIMAL},
      INTERFACE_TITLE = #{interfaceTitle,jdbcType=VARCHAR},
      INTERFACE_NAME = #{interfaceName,jdbcType=VARCHAR},
      IS_MONITOR = #{isMonitor,jdbcType=DECIMAL},
      IS_ENCRY = #{isEncry,jdbcType=DECIMAL},
      IS_TEST = #{isTest,jdbcType=DECIMAL},
      INTERVAL_DELAY = #{intervalDelay,jdbcType=DECIMAL},
      TIMEOUT_VALUE = #{timeoutValue,jdbcType=DECIMAL},
      TIMEOUT_RETRY_NUM = #{timeoutRetryNum,jdbcType=DECIMAL},
      TEST_INPUT_DATA = #{testInputData,jdbcType=VARCHAR},
      CHECK_DATA = #{checkData,jdbcType=VARCHAR},
      PRECISE_CHECK = #{preciseCheck,jdbcType=DECIMAL},
      TEST_OUTPUT_DATA = #{testOutputData,jdbcType=VARCHAR},
      CTIME = #{ctime,jdbcType=TIMESTAMP},
      UTIME = #{utime,jdbcType=TIMESTAMP},
      UPDATE_AUTOR = #{updateAutor,jdbcType=DECIMAL}
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </update>
</mapper>