<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffcs.sys.dao.SysGroupMapper">
	<resultMap id="BaseResultMap" type="com.ffcs.sys.entity.SysGroup">
		<id column="GROUP_ID" property="groupId" jdbcType="DECIMAL" />
		<result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
		<result column="IS_ENABLED" property="isEnabled" jdbcType="DECIMAL" />
		<result column="IS_DELETED" property="isDeleted" jdbcType="DECIMAL" />
		<result column="GRADE" property="grade" jdbcType="DECIMAL" />
		<result column="CTIME" property="ctime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		GROUP_ID, GROUP_NAME, IS_ENABLED, IS_DELETED, GRADE,CTIME
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from SYS_GROUP
		where GROUP_ID = #{groupId,jdbcType=DECIMAL} order by GROUP_ID
	</select>
	<select id="selectList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from SYS_GROUP
		<where>
			<if test="groupName!=null">
				GROUP_NAME LIKE '%${groupName}%'
			</if>
			<if test="isEnabled!=null">
				and IS_ENABLED =#{isEnabled}
			</if>
			and IS_DELETED=0
		</where>

		order by GROUP_ID
	</select>
	<select id="selectByUserId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from SYS_GROUP where GROUP_ID in(select GROUPID from
		SYS_USER_GROUP_ASSOC where USERID=#{userId}) order by GROUP_ID
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update from SYS_GROUP set isDeleted=1
		where GROUP_ID = #{groupId,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="com.ffcs.sys.entity.SysGroup">
		insert into SYS_GROUP (GROUP_ID, GROUP_NAME, IS_ENABLED,
		IS_DELETED, GRADE,CTIME)
		values (#{groupId,jdbcType=DECIMAL}, #{groupName,jdbcType=VARCHAR},
		#{isEnabled,jdbcType=DECIMAL},
		#{isDeleted,jdbcType=DECIMAL}, #{grade,jdbcType=DECIMAL},#{ctime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.ffcs.sys.entity.SysGroup">
		<selectKey resultType="java.lang.Integer" order="BEFORE"
			keyProperty="groupId">
			SELECT SYS_GROUP_GROUP_ID.NEXTVAL from DUAL
		</selectKey>
		insert into SYS_GROUP
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="groupId != null">
				GROUP_ID,
			</if>
			<if test="groupName != null">
				GROUP_NAME,
			</if>
			<if test="isEnabled != null">
				IS_ENABLED,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="grade != null">
				GRADE,
			</if>
			<if test="ctime != null">
				CTIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="groupId != null">
				#{groupId,jdbcType=DECIMAL},
			</if>
			<if test="groupName != null">
				#{groupName,jdbcType=VARCHAR},
			</if>
			<if test="isEnabled != null">
				#{isEnabled,jdbcType=DECIMAL},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=DECIMAL},
			</if>
			<if test="grade != null">
				#{grade,jdbcType=DECIMAL},
			</if>
			<if test="ctime != null">
				#{ctime,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ffcs.sys.entity.SysGroup">
		update SYS_GROUP
		<set>
			<if test="groupName != null">
				GROUP_NAME = #{groupName,jdbcType=VARCHAR},
			</if>
			<if test="isEnabled != null">
				IS_ENABLED = #{isEnabled,jdbcType=DECIMAL},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
			</if>
			<if test="grade != null">
				GRADE = #{grade,jdbcType=DECIMAL},
			</if>
			<if test="ctime != null">
				CTIME = #{ctime,jdbcType=DECIMAL},
			</if>
		</set>
		where GROUP_ID = #{groupId,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ffcs.sys.entity.SysGroup">
		update SYS_GROUP
		set GROUP_NAME = #{groupName,jdbcType=VARCHAR},
		IS_ENABLED = #{isEnabled,jdbcType=DECIMAL}
		where GROUP_ID = #{groupId,jdbcType=DECIMAL}
	</update>


	<update id="enabledBatch" parameterType="java.util.List">
		update SYS_GROUP set IS_ENABLED = 0 where GROUP_ID in
		<foreach collection="list" index="index" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</update>
	
	<update id="deletedBatch" parameterType="java.util.List">
		update SYS_GROUP set IS_DELETED = 1 where GROUP_ID in
		<foreach collection="list" index="index" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</update>

</mapper>