<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffcs.mp.pri.dao.SysGroupServAclMapper" >
  <resultMap id="BaseResultMap" type="com.ffcs.mp.pri.entity.SysGroupServAcl" >
    <id column="SERV_ACL_ID" property="servAclId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="SERV_ID" property="servId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERV_ACL_ID, USER_ID, SERV_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SYS_GROUP_SERV_ACL
    where SERV_ACL_ID = #{servAclId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SYS_GROUP_SERV_ACL
    where SERV_ACL_ID = #{servAclId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ffcs.mp.pri.entity.SysGroupServAcl" >
    insert into SYS_GROUP_SERV_ACL (SERV_ACL_ID, USER_ID, SERV_ID
      )
    values (#{servAclId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{servId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ffcs.mp.pri.entity.SysGroupServAcl" >
    insert into SYS_GROUP_SERV_ACL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="servAclId != null" >
        SERV_ACL_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="servId != null" >
        SERV_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="servAclId != null" >
        #{servAclId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="servId != null" >
        #{servId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffcs.mp.pri.entity.SysGroupServAcl" >
    update SYS_GROUP_SERV_ACL
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="servId != null" >
        SERV_ID = #{servId,jdbcType=DECIMAL},
      </if>
    </set>
    where SERV_ACL_ID = #{servAclId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffcs.mp.pri.entity.SysGroupServAcl" >
    update SYS_GROUP_SERV_ACL
    set USER_ID = #{userId,jdbcType=DECIMAL},
      SERV_ID = #{servId,jdbcType=DECIMAL}
    where SERV_ACL_ID = #{servAclId,jdbcType=DECIMAL}
  </update>
</mapper>