<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffcs.sys.dao.SysSecurityLogMapper" >
  <resultMap id="BaseResultMap" type="com.ffcs.sys.entity.SysSecurityLog" >
    <id column="LOGID" property="logid" jdbcType="DECIMAL" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="IPADDRESS" property="ipaddress" jdbcType="VARCHAR" />
    <result column="OPERATION" property="operation" jdbcType="VARCHAR" />
    <result column="CTIME" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    LOGID, LOGIN_NAME, IPADDRESS, OPERATION, CTIME
  </sql>
  <select id="selectList" resultMap="BaseResultMap"> 
   select 
   <include refid="Base_Column_List" />
   from SYS_SECURITY_LOG 
  </select>
   <select id="selectByDate" resultMap="BaseResultMap"> 
   select 
   <include refid="Base_Column_List" />
     from SYS_SECURITY_LOG 
     where CTIME between  to_date(#{startDate},'yyyy-mm-dd')
                 and to_date(#{endDate},'yyyy-mm-dd')
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SYS_SECURITY_LOG   
    where LOGID = #{logid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SYS_SECURITY_LOG
    where LOGID = #{logid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ffcs.sys.entity.SysSecurityLog" >
    insert into SYS_SECURITY_LOG (LOGID, LOGIN_NAME, IPADDRESS, 
      OPERATION, CTIME)
    values (#{logid,jdbcType=DECIMAL}, #{loginName,jdbcType=VARCHAR}, #{ipaddress,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ffcs.sys.entity.SysSecurityLog" >
  <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="logid">  
       SELECT SYS_SECURITY_LOG_LOGID.NEXTVAL from DUAL  
   </selectKey>  
    insert into SYS_SECURITY_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
     
        LOGID,
      <if test="loginName != null" >
        LOGIN_NAME,
      </if>
      <if test="ipaddress != null" >
        IPADDRESS,
      </if>
      <if test="operation != null" >
        OPERATION,
      </if>
      <if test="ctime != null" >
        CTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    
        #{logid,jdbcType=DECIMAL},
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="ipaddress != null" >
        #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffcs.sys.entity.SysSecurityLog" >
    update SYS_SECURITY_LOG
    <set >
      <if test="loginName != null" >
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="ipaddress != null" >
        IPADDRESS = #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        OPERATION = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        CTIME = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where LOGID = #{logid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffcs.sys.entity.SysSecurityLog" >
    update SYS_SECURITY_LOG
    set LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      IPADDRESS = #{ipaddress,jdbcType=VARCHAR},
      OPERATION = #{operation,jdbcType=VARCHAR},
      CTIME = #{ctime,jdbcType=TIMESTAMP}
    where LOGID = #{logid,jdbcType=DECIMAL}
  </update>
</mapper>