
<meta charset="UTF-8">
<script type="text/javascript" src="<@full_path path='js/bootstrap-treeview.js' />"></script>
<script type="text/javascript" src="<@full_path path='js/sys/group.js' />"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".btn-group > button").click(function(){
		var target = $(this).attr('target');
		if(target==undefined){
		return false;
		}
		var groupName = $("#formGroup input[name='groupName']").val();
	    var isEnabled = $("#formGroup select[name='isEnabled']").val();
	    target =target+"&groupName="+groupName+"&isEnabled="+isEnabled;
		$.ajax({
			url: full_path + target,
			type: 'get',
			dataType: 'html',
			success: function(data){
				$("#content").empty();
				$("#content").append(data);
		    $("#formGroup input[name='groupName']").val(groupName);
            $("#formGroup select[name='isEnabled']").val(isEnabled);
			}
		});
	});
});
</script>
<div class="container-fluid">
    <div class="row" style="margin-bottom: 100px;">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="btn-toolbar">
                <div class="btn-group" role="group" style="margin-bottom: 15px;">
                    <button type="button" class="btn btn-default" onclick="AddGroup();">新增
                    </button>
                    <button type="button" class="btn btn-default" onclick="EditGroup();">编辑</button>
                    <button type="button" class="btn btn-default">激活</button>
                    <button type="button" class="btn btn-default">删除</button>
                </div>
            </div>

            <form id="formGroup" class="form-inline" style="position: absolute;top: 0;right: 15px;">
                <div class="form-group" style="margin-right: 10px;">
                    <label>群组名</label>
                    <input type="text" name="groupName" class="form-control" value="">
                </div>
                <div class="form-group" style="margin-right: 10px;">
                    <label>是否激活</label>
                    <select class="form-control" name="isEnabled">
                         <option  value="">--</option>
                        <option id="0" value="0">是</option>
                        <option id="1" value="1">否</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" onclick="selectGroup();" class="btn btn-default" value="查找">
                </div>
            </form>

            <table class="table table-bordered mp-table">
                <thead>
                <tr>
                    <td><input type="checkbox" onchange="OpAllCheckBox(this);"></td>
                    <td>编号</td>
                    <td>名称</td>
                    <td>级别</td>
                    <td>创建时间</td>
                    <td>是否激活</td>
                </tr>
                </thead>
                <tbody>
                <#if page.list?? && page.list?size gt 0>
                 <#list page.list as item>
                 <tr>
                    <td><input type="checkbox"></td>
                    <td>${item.groupId}</td>
                    <td>${item.groupName}</td>
                    <td>${item.grade}</td>
                    <#if item.ctime??>
						<td>${item.ctime?string("yyyy-MM-dd HH:mm:ss")}</td>
						<#else><td>空</td>
						</#if>
                     <#if item.isEnabled == 0>
						  <td id="0">是</td>
						  <#else><td id="1">否</td>
						  </#if>
                </tr>
                </#list>
                </#if>
                </tbody>
            </table>
            <div style="position: absolute;right: 15px;">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" target="sys/group/group.htm?pageSize=2&pageNum=${page.firstPage}">&laquo;</button>
                   <#list page.navigatepageNums as item>
				<button ype="button" class="btn btn-default" target="sys/group/group.htm?pageSize=2&pageNum=${item}">${item}</button>
				</#list>
                    <button type="button" class="btn btn-default" target="sys/group/group.htm?pageSize=2&pageNum=${page.lastPage}">&raquo;</button>
                </div>
            </div>
        </div>

    </div>
    <div style="position: fixed;height: 50px;width:100%;background-color: whitesmoke;bottom: 0;padding-top: 5px;">
        <h4 style="text-align: center;">福富软件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@copyright 2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;&nbsp;</h4>
    </div>
</div>

<div class="modal fade" id="group_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-default">保存</button>
                <form style="margin-top: 10px;" id="group_form">
                    <table class="table table-bordered mp-table" style="text-align: center">
                        <tbody>
                        <tr>
                            <td>群组名</td>
                            <td><input type="text" class="form-control"></td>
                        <tr>
                            <td>是否激活</td>
                            <td><select class="form-control">
                                <option>是</option>
                                <option>否</option>
                            </select></td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#structures" role="tab" data-toggle="tab">模块管理</a>
                            </li>
                            <li role="presentation"><a href="#users" role="tab" data-toggle="tab">用户关联</a></li>
                            <li role="presentation"><a href="#services" role="tab" data-toggle="tab">业务关联</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="structures" style="padding-top: 10px;">
                                <div id="structure_tree">

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="users" style="padding-top: 10px;">
                                <input type="button" class="btn btn-default" onclick="AddUserNode();" value="增加">
                                <div style="height: 300px;overflow-y: scroll;">
                                    <table class="table" id="user_table">
                                        <thead>
                                        <tr>
                                            <td>
                                                关联用户
                                            </td>
                                            <td>
                                                操作
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <select class="form-control">
                                                    <option>用户A</option>
                                                    <option>用户B</option>
                                                    <option>用户C</option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-default">删除</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="services" style="padding-top: 10px;">
                                <input type="button" class="btn btn-default" onclick="AddServiceNode();" value="增加">
                                <div style="height: 300px;overflow-y: scroll;">
                                    <table class="table" id="service_table">
                                        <thead>
                                        <tr>
                                            <td>
                                                关联业务
                                            </td>
                                            <td>操作</td>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                    </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>