<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
	<context:component-scan base-package="com.ffcs"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
	<context:annotation-config />
    
	
	<!-- 配置静态资源访问 -->
	<mvc:default-servlet-handler />
	<mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean id="fastJsonHttpMessageConverter"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>


	<!-- 配置FreeMaker视图解析器 -->
	<bean id="freemarkerViewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="prefix" value="/views/"></property>
		<property name="suffix" value=".html" />
		
		<property name="contentType" value="text/html; charset=UTF-8" />
	</bean>

	<!-- 配置FreeMarker属性 -->
	<bean name="freeMakerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="default_encoding">UTF-8</prop>
				<prop key="number_format">0.###</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="classic_compatible">true</prop>
				<prop key="template_exception_handler">ignore</prop>
			</props>
		</property>
		<property name="freemarkerVariables">
			<map>
				<entry key="full_path" value-ref="fullPathDirective" />
				<entry key="page_navigator" value-ref="pageNavigatorDirective" />
			</map>
		</property>
	</bean>

	<bean name="fullPathDirective" class="com.ffcs.icity.common.web.directive.FullPathDirective" />

	<bean name="pageNavigatorDirective"
		class="com.ffcs.icity.common.web.directive.PageNavigatorDirective" />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean name="contextInterceptor" class="com.ffcs.icity.common.web.ContextInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
  <!--   启动对@AspectJ注解的支持
       <aop:aspectj-autoproxy/>  -->
      <!--通知spring使用cglib而不是jdk的来生成代理方法 AOP可以拦截到Controller --> 
     <aop:aspectj-autoproxy proxy-target-class="true" />

</beans>
