<meta charset="UTF-8">

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<form class="form-inline">
				<fieldset>
					<legend>查询条件</legend>
					<div class="form-group" style="margin: 5px 20px 5px 5px;">
						<label>归属业务组&nbsp;</label><input type="text" class="form-control">
					</div>
					<div class="form-group" style="margin: 5px 20px 5px 5px;">
						<label>用户名&nbsp;</label> <input type="text" class="form-control">
					</div>
					<div class="form-group" style="margin: 5px 0 5px 0;">
						<label>是否激活&nbsp;</label> <select class="form-control">
							<option>是</option>
							<option>否</option>
						</select>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col-md-12" style="margin: 15px 0;">
			<button class="button button-small" data-toggle="modal"
				data-target="#MyModal">新增用户</button>
			<button class="button button-small">编辑用户</button>
			<button class="button button-small">激活用户</button>
			<button class="button button-small">注销用户</button>
			<button class="button button-small">删除用户</button>
		</div>
		<div class="col-md-6">
			<table class="table table-bordered" style="text-align: center;">
				<thead>
					<tr>
						<th style="text-align: center;"><input type="checkbox"
							onchange="OpAllCheckBox(this)"></th>
						<th style="text-align: center;">用户名</th>
						<th style="text-align: center;">用户全称</th>
						<th style="text-align: center;">是否激活</th>
						<th style="text-align: center;">最后修改时间</th>
					</tr>
				</thead>
				<tbody>

          <#if userList?? && userList?size gt 0>
            <#list userList as item>
                     <tr>
                        <td><input type="checkbox"></td>
						<td>${item.longinName}</td>
						<td>${item.fullName}</td>
						<td>${item.isEnabled}</td>
						<#if item.ctime??>
						<td>${item.ctime?string("yyyy-MM-dd HH:mm:ss")}</td>
						<#else><td>空</td>
						</#if>
                     </tr>
                   </#list>
                  </#if>
                </tbody>
			</table>
		</div>
		<div class="col-md-12">
			<div class="button-group">
				<button class="button button-square">&laquo;</button>
				<button class="button button-square">1</button>
				<button class="button button-square">2</button>
				<button class="button button-square">3</button>
				<button class="button button-square">4</button>
				<button class="button button-square">5</button>
				<button class="button button-square">&raquo;</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="MyModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button class="button button-small" data-dismiss="modal">关闭</button>
				<button class="button button-small" onclick="SaveUser(this);">保存</button>
				<form style="margin-top: 10px;" id="user_form">
					<table class="table table-bordered mp-table"
						style="text-align: center">
						<tbody>
							<tr>
								<td>用户名</td>
								<td><input type="text" class="form-control"></td>
							<tr>
								<td>用户全名</td>
								<td><input type="text" class="form-control"></td>
							</tr>
						</tbody>
					</table>
					<fieldset>
						<legend>关联群组</legend>
						<input type="button" class="button button-small"
							style="margin-bottom: 5px;" onclick="AddGroupNode();" value="增加">
						<div style="height: 300px; overflow: scroll;">
							<table class="table" cellspacing="0" id="group_table">
								<thead>
									<tr>
										<td>群组名称</td>
										<td>操作</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><select class="form-control">
												<option>SKE48组</option>
												<option>AKB48组</option>
												<option>SNH48组</option>
										</select></td>
										<td><input type="button" class="button button-small"
											onclick="RemoveGroupNode(this);" value="删除"></td>
									</tr>
									<tr>
										<td><select class="form-control">
												<option>AKB48组</option>
												<option>SKE48组</option>
												<option>SNH48组</option>
										</select></td>
										<td><input type="button" class="button button-small"
											onclick="RemoveGroupNode(this);" value="删除"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
