<!DOCTYPE html>
<html>
  <head>
    <title>login.html</title>
    <meta name="content-type" content="text/html; charset=UTF-8">
   <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
   <script type="text/javascript">
    $(function(){
        $("#btn1").click(
         function(){
           $.ajax(
              {
        url:"<@full_path path='login.json'/>",
		type: 'get',
		success: function(data){
			  if(data==null){
			      alert("用户不存在");
			  }else{
			   
        );
    });
   </script>
  </head>
  
  <body>
    <form id="form1" action="">
      <input type="text" name="loginName" value=""/>
      <input type="password" name="password" value=""/>
      <button id="btn1">登录</button>
    </form>
  </body>
</html>
