<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="<@full_path path='css/bootstrap.css' />"/>
    <script type="text/javascript" src="<@full_path path='js/jquery-2.1.1.min.js' />"></script>
    <script type="text/javascript" src="<@full_path path='js/bootstrap.js' />"></script>
</head>
<body style="background-color: powderblue;">
<div class="container-fluid">
    <div class="row">
        <div class=" col-md-4 col-md-offset-4">
            <div class="panel panel-default" style="position: relative;top: 150px;%;">
                <div class="page-header">
                    <h3 style="text-align: center;">上网助手服务监控平台</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>账号</label>
                                <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                                <input type="password" class="form-control">
                            </div>
                        <div>
                            <input type="button" class="btn btn-danger btn-block btn-group-lg" value="登录">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>